<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Login Bi</title>
	<link rel="icon" type="image/x-icon" href="images/favicon_io/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset="UTF-8">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
	<div class="container-logo">
		<img class="logo-defesa" src="images/logo-defesa.png" alt="Defesa Civil do Amazonas">
	</div>
	
	<div class="card-login">

		<div class="top-detail">
			<img class="img-top" src="images/top-detail.png">
		</div>
			
			<div>
				<span class="login100-form-title">
					Bem-Vindo(a)
				</span>
				<form action="/" method="post">
					<div class="wrap-input100 validate-input" data-validate = "Usuario obrigatório">
						<div class="input-icons">
							<i class="fa fa-user icon" aria-hidden="true"> </i>
							<input class="input-field" type="text" name="login" placeholder="Usuário">
						</div>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Senha obrigatória">
						<div class="input-icons">
							<i class="fa fa-lock icon" aria-hidden="true"> </i>
							<input class="input-field" type="password" name="senha" placeholder="Senha">
						</div>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Entrar
						</button>
					</div>

					<div class="text-center p-t-12" style="color:white">
						{{message}}						
					</div>
				</form>
			</div>
					<div>
						<img class="logo-gov" src="images/governo-amazonas.png">
					</div>
					
				
	</div>
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>